/* line 1, /Users/jglodek/dev/jacekglodek.com/source/stylesheets/typography.sass */
body {
  font-family: "Lora", "serif";
  font-weight: 400; }

/* line 6, /Users/jglodek/dev/jacekglodek.com/source/stylesheets/typography.sass */
h1 {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  font-size: 300%;
  color: white;
  margin-bottom: 10px; }

/* line 13, /Users/jglodek/dev/jacekglodek.com/source/stylesheets/typography.sass */
h2 {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 200;
  margin-top: 7px; }

/* line 18, /Users/jglodek/dev/jacekglodek.com/source/stylesheets/typography.sass */
h3 {
  font-family: "Lora", "serif";
  font-weight: 400; }
